useDynLib(lstar, .registration = TRUE)
importFrom(Matrix, sparseMatrix, t)
importFrom(methods, is, as)
export(lstar_read)
export(lstar_write)
export(field_value)
export(write_seurat)
export(read_seurat)
export(write_sce)
export(read_sce)
export(write_conos)
S3method(print, lstar_dataset)
