useDynLib(lstar, .registration = TRUE)
importFrom(Matrix, sparseMatrix, t)
importFrom(methods, is, as)
export(lstar_read)
export(lstar_write)
export(field_value)
export(lstar_markers)
export(write_seurat)
export(read_seurat)
export(write_sce)
export(read_sce)
export(write_conos)
export(write_pagoda2)
export(col_sum_by_group)
export(stream_col_stats)
export(lstar_stream_col_sum_by_group)
export(lstar_read_block)
export(lstar_read_genes)
export(read_seurat_backed)
export(read_sce_backed)
S3method(print, lstar_dataset)
